In [1]:
import pandas
drs = pandas.read_csv('https://raw.githubusercontent.com/alemaldonado/diplodatos/master/dirty_retail_sales.csv')
drs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 10 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
Gender_Age_Marital_Status     537577 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 41.0+ MB

In [2]:
drs.shape

(537577, 10)

In [3]:
drs

,User_ID,Product_ID,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_Age_Marital_Status
0,1000001,P00069042,10,A,2,3,NaN,NaN,8370,F_0-17_0
1,1000001,P00248942,10,A,2,1,6.0,14.0,15200,F_0-17_0
2,1000001,P00087842,10,A,2,12,NaN,NaN,1422,F_0-17_0
3,1000001,P00085442,10,A,2,12,14.0,NaN,1057,F_0-17_0
4,1000002,P00285442,16,C,4+,8,NaN,NaN,7969,M_55+_0
5,1000003,P00193542,15,A,3,1,2.0,NaN,15227,M_26-35_0
6,1000004,P00184942,7,B,2,1,8.0,17.0,19215,M_46-50_1
7,1000004,P00346142,7,B,2,1,15.0,NaN,15854,M_46-50_1
8,1000004,P0097242,7,B,2,1,16.0,NaN,15686,M_46-50_1
9,1000005,P00274942,20,A,1,8,NaN,NaN,7870,M_26-35_1
10,1000005,P00251242,20,A,1,5,11.0,NaN,5254,M_26-35_1
11,1000005,P00014542,20,A,1,8,NaN,NaN,3957,M_26-35_1
12,1000005,P00031342,20,A,1,8,NaN,NaN,6073,M_26-35_1
13,1000005,P00145042,20,A,1,1,2.0,5.0,15665,M_26-35_1
14,1000006,P00231342,9,A,1,5,8.0,14.0,5378,F_51-55_0
15,1000006,P00190242,9,A,1,4,5.0,NaN,2079,F_51-55_0
16,1000006,P0096642,9,A,1,2,3.0,4.0,13055,F_51-55_0
17,1000006,P00058442,9,A,1,5,14.0,NaN,8851,F_51-55_0
18,1000007,P00036842,1,B,1,1,14.0,16.0,11788,M_36-45_1
19,1000008,P00249542,12,C,4+,1,5.0,15.0,19614,M_26-35_1
20,1000008,P00220442,12,C,4+,5,14.0,NaN,8584,M_26-35_1
21,1000008,P00156442,12,C,4+,8,NaN,NaN,9872,M_26-35_1
22,1000008,P00213742,12,C,4+,8,NaN,NaN,9743,M_26-35_1
23,1000008,P00214442,12,C,4+,8,NaN,NaN,5982,M_26-35_1
24,1000008,P00303442,12,C,4+,1,8.0,14.0,11927,M_26-35_1
25,1000009,P00135742,17,C,0,6,8.0,NaN,16662,M_26-35_0
26,1000009,P00039942,17,C,0,8,NaN,NaN,5887,M_26-35_0
27,1000009,P00161442,17,C,0,5,14.0,NaN,6973,M_26-35_0
28,1000009,P00078742,17,C,0,5,8.0,14.0,5391,M_26-35_0
29,1000010,P00085942,1,B,4+,2,4.0,8.0,16352,F_36-45_1
...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,18,C,1,1,2.0,15.0,11543,M_18-25_0
537548,1004734,P00111042,1,B,1,15,NaN,NaN,20924,M_51-55_1
537549,1004734,P00345842,1,B,1,2,8.0,14.0,13082,M_51-55_1
537550,1004735,P00278242,3,C,3,1,NaN,NaN,11658,M_46-50_0
537551,1004735,P00313442,3,C,3,5,6.0,8.0,6863,M_46-50_0
537552,1004735,P0098642,3,C,3,6,8.0,NaN,16415,M_46-50_0
537553,1004735,P00119342,3,C,3,10,13.0,NaN,18526,M_46-50_0
537554,1004735,P00114042,3,C,3,5,14.0,NaN,7098,M_46-50_0
537555,1004735,P00135142,3,C,3,13,16.0,NaN,578,M_46-50_0
537556,1004736,P00194542,20,A,1,8,14.0,NaN,2183,M_18-25_1
537557,1004736,P00175242,20,A,1,2,NaN,NaN,12724,M_18-25_1
537558,1004736,P00101942,20,A,1,8,17.0,NaN,7795,M_18-25_1
537559,1004736,P00109142,20,A,1,8,17.0,NaN,7770,M_18-25_1
537560,1004736,P00084842,20,A,1,8,16.0,NaN,5940,M_18-25_1
537561,1004736,P00078142,20,A,1,8,16.0,NaN,7834,M_18-25_1
537562,1004736,P00146742,20,A,1,1,13.0,14.0,11508,M_18-25_1
537563,1004736,P00154642,20,A,1,8,NaN,NaN,6074,M_18-25_1
537564,1004736,P00117442,20,A,1,5,14.0,NaN,7084,M_18-25_1
537565,1004736,P00051142,20,A,1,8,NaN,NaN,7934,M_18-25_1
537566,1004736,P00048742,20,A,1,5,NaN,NaN,5350,M_18-25_1
537567,1004736,P00157542,20,A,1,8,14.0,NaN,1994,M_18-25_1
537568,1004736,P00250642,20,A,1,11,NaN,NaN,5930,M_18-25_1
537569,1004736,P00023142,20,A,1,5,14.0,NaN,7042,M_18-25_1
537570,1004736,P00162442,20,A,1,1,16.0,NaN,15491,M_18-25_1
537571,1004737,P00221442,16,C,1,1,2.0,5.0,11852,M_36-45_0
537572,1004737,P00193542,16,C,1,1,2.0,NaN,11664,M_36-45_0
537573,1004737,P00111142,16,C,1,1,15.0,16.0,19196,M_36-45_0
537574,1004737,P00345942,16,C,1,8,15.0,NaN,8043,M_36-45_0
537575,1004737,P00285842,16,C,1,5,NaN,NaN,7172,M_36-45_0
537576,1004737,P00118242,16,C,1,5,8.0,NaN,6875,M_36-45_0

### 1

In [136]:
drs['Purchase'] = drs.Purchase.astype(float)/100
drs.head()

,User_ID,Product_ID,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_Age_Marital_Status
0,1000001,P00069042,10,A,2,3,NaN,NaN,83.70,F_0-17_0
1,1000001,P00248942,10,A,2,1,6.0,14.0,152.00,F_0-17_0
2,1000001,P00087842,10,A,2,12,NaN,NaN,14.22,F_0-17_0
3,1000001,P00085442,10,A,2,12,14.0,NaN,10.57,F_0-17_0
4,1000002,P00285442,16,C,4+,8,NaN,NaN,79.69,M_55+_0

In [137]:
drs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 10 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null float64
Gender_Age_Marital_Status     537577 non-null object
dtypes: float64(3), int64(3), object(4)
memory usage: 41.0+ MB

### 2

In [138]:
drs = drs.join(drs['Gender_Age_Marital_Status'].str.split('_', 2, expand=True).rename(columns={0: 'Gender', 1: 'Age', 2: 'Marital_Status'}))
drs = drs.drop(columns=['Gender_Age_Marital_Status'])
drs.head()

,User_ID,Product_ID,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender,Age,Marital_Status
0,1000001,P00069042,10,A,2,3,NaN,NaN,83.70,F,0-17,0
1,1000001,P00248942,10,A,2,1,6.0,14.0,152.00,F,0-17,0
2,1000001,P00087842,10,A,2,12,NaN,NaN,14.22,F,0-17,0
3,1000001,P00085442,10,A,2,12,14.0,NaN,10.57,F,0-17,0
4,1000002,P00285442,16,C,4+,8,NaN,NaN,79.69,M,55+,0

In [139]:
drs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null float64
Gender                        537577 non-null object
Age                           537577 non-null object
Marital_Status                537577 non-null object
dtypes: float64(3), int64(3), object(6)
memory usage: 49.2+ MB

### 3

In [140]:
drs_grouped_by_product = drs['Purchase'].groupby(drs["Product_ID"])
drs_grouped_by_product.describe()

,count,mean,std,min,25%,50%,75%,max
Product_ID,,,,,,,,
P00000142,1130.0,111.434212,23.078952,27.25,105.9125,109.255,133.8000,137.16
P00000242,371.0,105.522102,31.792359,32.14,95.8500,100.230,130.2500,165.03
P00000342,238.0,52.998655,18.346441,17.27,36.9150,52.865,69.2800,88.96
P00000442,92.0,47.952935,16.640682,17.64,35.9975,51.940,53.9475,88.91
P00000542,146.0,54.192397,17.420973,17.30,37.4775,53.750,69.6625,89.03
P00000642,512.0,149.131660,36.331510,39.50,118.4825,155.100,189.8925,197.05
P00000742,238.0,60.333950,16.318394,17.23,52.3125,54.440,70.6175,89.02
P00000842,36.0,100.086111,26.646609,33.47,88.8800,99.870,128.1500,133.22
P00000942,54.0,106.143519,43.710295,40.22,79.0675,99.215,153.4225,191.54
P00001042,494.0,137.391478,33.466627,38.47,116.3500,152.300,156.9400,196.70
P00001142,572.0,66.813794,15.134190,18.14,53.8000,69.730,71.6450,89.03
P00001242,99.0,42.557879,20.272077,17.20,20.1150,37.350,53.8000,88.41
P00001342,61.0,84.986557,27.622711,28.13,79.1500,83.870,107.4200,136.93
P00001442,83.0,73.833614,16.175961,39.25,60.3050,78.830,80.9350,99.45
P00001542,68.0,92.438382,47.433774,38.11,43.1300,81.465,120.3650,194.11
P00001642,349.0,75.707851,17.382510,21.35,60.7600,79.080,81.2000,100.75
P00001742,449.0,79.850824,18.011179,20.13,61.7300,79.980,98.3000,100.81
P00001842,76.0,144.202895,40.129489,40.89,125.0350,161.805,166.5200,209.56
P00001942,209.0,43.144737,20.766855,17.13,20.0500,37.290,54.2600,88.57
P00002042,91.0,96.048901,33.491462,37.97,76.8000,113.860,118.4450,158.97
P00002142,728.0,141.797830,34.894507,38.11,117.1375,153.030,157.8000,197.01
P00002242,195.0,135.267538,39.080030,40.28,121.2700,125.870,163.6900,206.88
P00002342,66.0,118.841061,41.833472,40.42,83.8450,124.300,128.7725,208.90
P00002442,325.0,63.755446,21.083732,19.46,58.2400,61.230,79.3900,100.64
P00002542,532.0,73.146203,20.631916,19.69,60.0100,78.800,81.1825,100.82
P00002642,62.0,68.656935,20.271974,19.71,59.3900,78.300,80.5175,99.21
P00002742,39.0,60.175128,21.314408,20.95,41.5750,59.730,80.1950,98.34
P00002842,83.0,148.966627,36.370277,38.36,115.2600,150.280,184.9950,188.73
P00002942,219.0,131.529863,31.255273,33.40,114.2150,131.130,160.9800,165.00
P00003042,37.0,75.296216,17.629548,41.28,60.2600,78.480,97.1200,99.67
...,...,...,...,...,...,...,...,...
P0096942,153.0,92.427190,26.128854,27.43,79.8600,83.680,109.2300,136.68
P0097042,87.0,152.524138,42.975436,41.25,123.0250,161.190,199.7800,206.68
P0097142,482.0,13.779274,3.831578,3.43,10.7500,14.110,17.3200,17.78
P0097242,896.0,159.038058,33.159626,39.36,152.5775,156.925,191.7050,197.08
P0097342,358.0,104.763240,38.734209,37.94,78.9275,115.395,120.1000,196.96
P0097442,6.0,63.188333,13.686011,41.77,59.1700,61.180,73.8175,78.47
P0097542,3.0,152.210000,26.221352,121.97,143.9950,166.020,167.3300,168.64
P0097642,1.0,61.200000,NaN,61.20,61.2000,61.200,61.2000,61.20
P0097742,249.0,78.753253,17.853950,20.22,61.5700,79.640,97.6600,100.79
P0097842,276.0,61.200725,16.487778,17.32,52.2300,68.715,71.0525,88.96
P0097942,62.0,56.090000,20.385439,19.39,41.0700,59.840,77.9375,97.74
P0098042,20.0,67.703000,14.388310,39.96,60.0000,61.890,79.1100,97.69
P0098142,42.0,79.460952,23.911140,20.29,78.8050,80.650,98.4400,100.67
P0098242,229.0,132.129389,40.590875,38.35,114.5800,120.870,156.9900,196.93
P0098342,251.0,130.720398,39.619488,38.40,115.2200,120.750,156.2100,197.03
P0098442,72.0,156.527083,45.243458,41.79,126.8250,165.855,203.9275,210.50
P0098542,45.0,67.417111,18.847558,20.09,58.6400,61.820,80.1500,100.77
P0098642,26.0,125.279231,43.980607,43.34,85.4525,123.355,163.7900,205.10
P0098742,46.0,70.166957,22.660157,20.14,59.9575,78.965,80.8600,100.70
P0098842,10.0,124.643000,46.090628,45.02,96.5325,123.420,155.1450,205.20
P0098942,33.0,70.047576,16.849883,40.71,58.8400,77.610,80.5900,100.01
P0099042,141.0,62.340071,17.573277,17.38,53.1900,69.150,71.1600,88.82
P0099142,7.0,65.591429,23.735172,23.19,58.6100,60.880,79.9150,98.02
P0099242,255.0,68.068980,21.820580,19.48,58.7100,61.920,80.7200,100.76
P0099342,435.0,69.315977,16.438770,18.03,54.2800,70.340,86.5600,89.06
P0099442,196.0,143.535765,37.165329,40.93,121.8900,160.070,164.1175,206.84
P0099642,13.0,64.392308,21.084124,39.03,42.2200,59.720,78.6200,100.56
P0099742,123.0,78.623008,29.369274,26.70,55.8900,81.840,106.3250,136.61
P0099842,100.0,72.132500,16.355875,17.35,69.2300,71.290,86.6425,88.91
P0099942,13.0,54.493846,20.354541,17.91,51.9000,53.560,69.2800,88.33

### 4

In [141]:
new_purchase_values = round(drs_grouped_by_product.mean(),2).to_frame().reset_index()
drs = drs.merge(new_purchase_values, how='left', on='Product_ID').drop(columns=['Purchase_x']).rename(columns={'Purchase_y':'Purchase'})
drs

,User_ID,Product_ID,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Product_Category_3,Gender,Age,Marital_Status,Purchase
0,1000001,P00069042,10,A,2,3,NaN,NaN,F,0-17,0,118.64
1,1000001,P00248942,10,A,2,1,6.0,14.0,F,0-17,0,162.93
2,1000001,P00087842,10,A,2,12,NaN,NaN,F,0-17,0,12.40
3,1000001,P00085442,10,A,2,12,14.0,NaN,F,0-17,0,14.55
4,1000002,P00285442,16,C,4+,8,NaN,NaN,M,55+,0,77.19
5,1000003,P00193542,15,A,3,1,2.0,NaN,M,26-35,0,143.01
6,1000004,P00184942,7,B,2,1,8.0,17.0,M,46-50,1,168.97
7,1000004,P00346142,7,B,2,1,15.0,NaN,M,46-50,1,141.65
8,1000004,P0097242,7,B,2,1,16.0,NaN,M,46-50,1,159.04
9,1000005,P00274942,20,A,1,8,NaN,NaN,M,26-35,1,80.63
10,1000005,P00251242,20,A,1,5,11.0,NaN,M,26-35,1,68.62
11,1000005,P00014542,20,A,1,8,NaN,NaN,M,26-35,1,80.75
12,1000005,P00031342,20,A,1,8,NaN,NaN,M,26-35,1,75.94
13,1000005,P00145042,20,A,1,1,2.0,5.0,M,26-35,1,145.15
14,1000006,P00231342,9,A,1,5,8.0,14.0,F,51-55,0,60.17
15,1000006,P00190242,9,A,1,4,5.0,NaN,F,51-55,0,20.28
16,1000006,P0096642,9,A,1,2,3.0,4.0,F,51-55,0,102.31
17,1000006,P00058442,9,A,1,5,14.0,NaN,F,51-55,0,64.21
18,1000007,P00036842,1,B,1,1,14.0,16.0,M,36-45,1,138.38
19,1000008,P00249542,12,C,4+,1,5.0,15.0,M,26-35,1,117.64
20,1000008,P00220442,12,C,4+,5,14.0,NaN,M,26-35,1,72.33
21,1000008,P00156442,12,C,4+,8,NaN,NaN,M,26-35,1,82.58
22,1000008,P00213742,12,C,4+,8,NaN,NaN,M,26-35,1,84.74
23,1000008,P00214442,12,C,4+,8,NaN,NaN,M,26-35,1,80.13
24,1000008,P00303442,12,C,4+,1,8.0,14.0,M,26-35,1,112.34
25,1000009,P00135742,17,C,0,6,8.0,NaN,M,26-35,0,154.25
26,1000009,P00039942,17,C,0,8,NaN,NaN,M,26-35,0,71.40
27,1000009,P00161442,17,C,0,5,14.0,NaN,M,26-35,0,62.39
28,1000009,P00078742,17,C,0,5,8.0,14.0,M,26-35,0,68.98
29,1000010,P00085942,1,B,4+,2,4.0,8.0,F,36-45,1,138.33
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,18,C,1,1,2.0,15.0,M,18-25,0,121.77
537548,1004734,P00111042,1,B,1,15,NaN,NaN,M,51-55,1,175.62
537549,1004734,P00345842,1,B,1,2,8.0,14.0,M,51-55,1,112.55
537550,1004735,P00278242,3,C,3,1,NaN,NaN,M,46-50,0,144.34
537551,1004735,P00313442,3,C,3,5,6.0,8.0,M,46-50,0,69.45
537552,1004735,P0098642,3,C,3,6,8.0,NaN,M,46-50,0,125.28
537553,1004735,P00119342,3,C,3,10,13.0,NaN,M,46-50,0,204.54
537554,1004735,P00114042,3,C,3,5,14.0,NaN,M,46-50,0,72.37
537555,1004735,P00135142,3,C,3,13,16.0,NaN,M,46-50,0,6.37
537556,1004736,P00194542,20,A,1,8,14.0,NaN,M,18-25,1,74.53
537557,1004736,P00175242,20,A,1,2,NaN,NaN,M,18-25,1,129.75
537558,1004736,P00101942,20,A,1,8,17.0,NaN,M,18-25,1,80.87
537559,1004736,P00109142,20,A,1,8,17.0,NaN,M,18-25,1,87.95
537560,1004736,P00084842,20,A,1,8,16.0,NaN,M,18-25,1,86.29
537561,1004736,P00078142,20,A,1,8,16.0,NaN,M,18-25,1,68.99
537562,1004736,P00146742,20,A,1,1,13.0,14.0,M,18-25,1,130.30
537563,1004736,P00154642,20,A,1,8,NaN,NaN,M,18-25,1,76.33
537564,1004736,P00117442,20,A,1,5,14.0,NaN,M,18-25,1,69.61
537565,1004736,P00051142,20,A,1,8,NaN,NaN,M,18-25,1,72.90
537566,1004736,P00048742,20,A,1,5,NaN,NaN,M,18-25,1,60.90
537567,1004736,P00157542,20,A,1,8,14.0,NaN,M,18-25,1,70.74
537568,1004736,P00250642,20,A,1,11,NaN,NaN,M,18-25,1,45.95
537569,1004736,P00023142,20,A,1,5,14.0,NaN,M,18-25,1,52.05
537570,1004736,P00162442,20,A,1,1,16.0,NaN,M,18-25,1,126.52
537571,1004737,P00221442,16,C,1,1,2.0,5.0,M,36-45,0,145.04
537572,1004737,P00193542,16,C,1,1,2.0,NaN,M,36-45,0,143.01
537573,1004737,P00111142,16,C,1,1,15.0,16.0,M,36-45,0,160.76
537574,1004737,P00345942,16,C,1,8,15.0,NaN,M,36-45,0,70.81
537575,1004737,P00285842,16,C,1,5,NaN,NaN,M,36-45,0,66.36
537576,1004737,P00118242,16,C,1,5,8.0,NaN,M,36-45,0,69.04

In [142]:
drs['Purchase'].groupby(drs["Product_ID"]).describe().head()

,count,mean,std,min,25%,50%,75%,max
Product_ID,,,,,,,,
P00000142,1130.0,111.43,3.213075e-12,111.43,111.43,111.43,111.43,111.43
P00000242,371.0,105.52,1.992206e-13,105.52,105.52,105.52,105.52,105.52
P00000342,238.0,53.00,0.000000e+00,53.00,53.00,53.00,53.00,53.00
P00000442,92.0,47.95,8.573234e-14,47.95,47.95,47.95,47.95,47.95
P00000542,146.0,54.19,1.711173e-13,54.19,54.19,54.19,54.19,54.19

In [143]:
grouped_users = drs.groupby(['User_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status']).size().reset_index(name='Frequency')
grouped_users

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Frequency
0,1000001,F,0-17,10,A,2,0,34
1,1000002,M,55+,16,C,4+,0,76
2,1000003,M,26-35,15,A,3,0,29
3,1000004,M,46-50,7,B,2,1,13
4,1000005,M,26-35,20,A,1,1,106
5,1000006,F,51-55,9,A,1,0,46
6,1000007,M,36-45,1,B,1,1,16
7,1000008,M,26-35,12,C,4+,1,76
8,1000009,M,26-35,17,C,0,0,57
9,1000010,F,36-45,1,B,4+,1,222
10,1000011,F,26-35,1,C,1,0,69
11,1000012,M,26-35,12,C,2,0,11
12,1000013,M,46-50,1,C,3,1,60
13,1000014,M,36-45,0,C,0,0,13
14,1000015,M,26-35,7,A,1,0,116
15,1000016,F,36-45,0,C,0,1,21
16,1000017,M,51-55,1,C,0,0,114
17,1000018,F,18-25,3,B,3,0,179
18,1000019,M,0-17,10,A,3,0,144
19,1000020,M,26-35,14,A,0,0,12
20,1000021,M,18-25,16,B,0,0,13
21,1000022,M,18-25,15,A,4+,0,155
22,1000023,M,36-45,0,B,3,1,171
23,1000024,F,26-35,7,A,3,1,76
24,1000025,M,18-25,4,C,4+,0,43
25,1000026,M,26-35,7,B,2,1,226
26,1000027,M,26-35,11,C,1,1,41
27,1000028,F,26-35,1,C,2,1,57
28,1000029,M,36-45,7,C,1,0,52
29,1000030,F,36-45,7,C,3,0,30
...,...,...,...,...,...,...,...,...
5861,1006011,M,36-45,15,C,3,0,99
5862,1006012,M,36-45,15,C,4+,1,15
5863,1006013,F,26-35,20,C,3,0,72
5864,1006014,M,46-50,1,C,0,1,54
5865,1006015,F,26-35,9,B,1,0,32
5866,1006016,M,46-50,1,B,1,1,469
5867,1006017,F,36-45,7,B,1,0,15
5868,1006018,M,36-45,1,C,3,0,76
5869,1006019,M,26-35,0,A,4+,0,44
5870,1006020,M,51-55,16,A,1,1,23
5871,1006021,M,26-35,12,B,2,1,64
5872,1006022,M,26-35,17,C,4+,0,24
5873,1006023,M,26-35,0,C,2,1,77
5874,1006024,M,26-35,12,A,0,1,55
5875,1006025,F,26-35,1,B,1,0,142
5876,1006026,M,36-45,6,C,1,1,42
5877,1006027,M,18-25,4,C,1,1,22
5878,1006028,M,18-25,4,A,4+,0,26
5879,1006029,F,26-35,1,C,1,1,14
5880,1006030,M,26-35,17,C,1,1,53
5881,1006031,F,18-25,0,C,1,0,30
5882,1006032,M,46-50,7,A,3,0,51
5883,1006033,M,51-55,13,B,1,1,35
5884,1006034,M,26-35,14,A,3,0,11
5885,1006035,F,26-35,1,C,3,0,143
5886,1006036,F,26-35,15,B,4+,1,476
5887,1006037,F,46-50,1,C,4+,0,116
5888,1006038,F,55+,1,C,2,0,10
5889,1006039,F,46-50,0,B,4+,1,67
5890,1006040,M,26-35,6,B,2,0,169

In [144]:
grouped_users[grouped_users.User_ID.duplicated(keep=False)]

Empty DataFrame
Columns: [User_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Frequency]
Index: []

In [145]:
grouped_products = drs.groupby(['Product_ID', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3']).size().reset_index(name='Frequency')
grouped_products

,Product_ID,Product_Category_1,Product_Category_2,Product_Category_3,Frequency
0,P00000142,3,4.0,5.0,1130
1,P00000242,2,4.0,9.0,371
2,P00000642,1,6.0,16.0,512
3,P00001042,1,2.0,16.0,494
4,P00001142,5,8.0,14.0,572
5,P00001542,1,2.0,14.0,68
6,P00002142,1,5.0,8.0,728
7,P00002242,6,8.0,16.0,195
8,P00003442,4,5.0,8.0,951
9,P00004242,1,6.0,8.0,113
10,P00004842,3,4.0,12.0,207
11,P00005542,2,4.0,9.0,4
12,P00005942,2,4.0,9.0,180
13,P00006942,1,5.0,6.0,495
14,P00008042,6,8.0,14.0,88
15,P00010542,2,4.0,5.0,131
16,P00010742,1,8.0,17.0,1331
17,P00010942,1,2.0,6.0,303
18,P00011942,8,13.0,14.0,62
19,P00012242,2,4.0,9.0,51
20,P00014442,6,8.0,16.0,23
21,P00014642,8,14.0,17.0,313
22,P00014842,1,2.0,5.0,407
23,P00015542,1,2.0,13.0,291
24,P00015642,8,16.0,17.0,410
25,P00015842,1,14.0,16.0,265
26,P00015942,6,10.0,13.0,203
27,P00016342,1,2.0,8.0,190
28,P00016442,2,4.0,8.0,62
29,P00016542,1,6.0,16.0,157
...,...,...,...,...,...
496,P00353342,3,4.0,12.0,12
497,P00353442,3,4.0,12.0,17
498,P00356342,1,2.0,8.0,15
499,P00358342,11,15.0,16.0,223
500,P00358642,5,11.0,16.0,8
501,P00359042,2,8.0,14.0,98
502,P00359242,1,5.0,17.0,191
503,P00361942,1,2.0,15.0,80
504,P00363242,1,2.0,9.0,104
505,P00364442,1,2.0,9.0,72
506,P00369942,2,3.0,4.0,23
507,P00370042,1,8.0,16.0,46
508,P0094342,4,5.0,18.0,121
509,P0094542,2,4.0,9.0,172
510,P0094742,2,4.0,5.0,72
511,P0095042,4,5.0,8.0,83
512,P0095442,4,5.0,13.0,60
513,P0095542,2,4.0,9.0,305
514,P0095842,3,4.0,12.0,308
515,P0096042,3,4.0,12.0,67
516,P0096442,4,5.0,12.0,523
517,P0096542,3,4.0,12.0,321
518,P0096642,2,3.0,4.0,171
519,P0096742,2,4.0,12.0,172
520,P0096842,3,4.0,12.0,296
521,P0097342,1,15.0,16.0,358
522,P0099042,5,12.0,14.0,141
523,P0099742,3,4.0,5.0,123
524,P0099842,5,12.0,14.0,100
525,P0099942,5,12.0,14.0,13

In [146]:
grouped_products[grouped_products.Product_ID.duplicated(keep=False)]

Empty DataFrame
Columns: [Product_ID, Product_Category_1, Product_Category_2, Product_Category_3, Frequency]
Index: []

### 6

In [147]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
city_category_le = LabelEncoder()
city_category_labels = city_category_le.fit_transform(drs['City_Category'])
drs['City_Category_Label'] = city_category_labels
age_le = LabelEncoder()
age_labels = age_le.fit_transform(drs['Age'])
drs['Age_Label'] = age_labels
drs_sub = drs[['User_ID', 'City_Category', 'City_Category_Label', 'Age', 'Age_Label']]
drs_sub.head(20)

    User_ID City_Category  City_Category_Label    Age  Age_Label
0   1000001             A                    0   0-17          0
1   1000001             A                    0   0-17          0
2   1000001             A                    0   0-17          0
3   1000001             A                    0   0-17          0
4   1000002             C                    2    55+          6
5   1000003             A                    0  26-35          2
6   1000004             B                    1  46-50          4
7   1000004             B                    1  46-50          4
8   1000004             B                    1  46-50          4
9   1000005             A                    0  26-35          2
10  1000005             A                    0  26-35          2
11  1000005             A                    0  26-35          2
12  1000005             A                    0  26-35          2
13  1000005             A                    0  26-35          2
14  1000006             A                    0  51-55          5
15  1000006             A                    0  51-55          5
16  1000006             A                    0  51-55          5
17  1000006             A                    0  51-55          5
18  1000007             B                    1  36-45          3
19  1000008             C                    2  26-35          2

In [148]:
city_category_ohe = OneHotEncoder()
city_category_feature_arr = city_category_ohe.fit_transform(drs[['City_Category_Label']]).toarray()
city_category_feature_labels = list(city_category_le.classes_)
city_category_features = pandas.DataFrame(city_category_feature_arr, columns=city_category_feature_labels)

age_ohe = OneHotEncoder()
age_feature_arr = age_ohe.fit_transform(drs[['Age_Label']]).toarray()
age_feature_labels = list(age_le.classes_)
age_features = pandas.DataFrame(age_feature_arr, columns=age_feature_labels)

drs_ohe = pandas.concat([drs_sub, city_category_features, age_features], axis=1)
columns = sum([['User_ID', 'City_Category', 'City_Category_Label'], city_category_feature_labels, ['Age', 'Age_Label'], age_feature_labels], [])
drs_ohe[columns].head(20)

,User_ID,City_Category,City_Category_Label,A,B,C,Age,Age_Label,0-17,18-25,26-35,36-45,46-50,51-55,55+
0,1000001,A,0,1.0,0.0,0.0,0-17,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000001,A,0,1.0,0.0,0.0,0-17,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000001,A,0,1.0,0.0,0.0,0-17,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000001,A,0,1.0,0.0,0.0,0-17,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000002,C,2,0.0,0.0,1.0,55+,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,1000003,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,1000004,B,1,0.0,1.0,0.0,46-50,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,1000004,B,1,0.0,1.0,0.0,46-50,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,1000004,B,1,0.0,1.0,0.0,46-50,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,1000005,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,1000005,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,1000005,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,1000005,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,1000005,A,0,1.0,0.0,0.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,1000006,A,0,1.0,0.0,0.0,51-55,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,1000006,A,0,1.0,0.0,0.0,51-55,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,1000006,A,0,1.0,0.0,0.0,51-55,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,1000006,A,0,1.0,0.0,0.0,51-55,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18,1000007,B,1,0.0,1.0,0.0,36-45,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19,1000008,C,2,0.0,0.0,1.0,26-35,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0